
header {
    .header_contact {
        height: 45px;
        border-bottom: 1px solid #e2e2e2;
        .header_contact_container {
            width: 85%;
            margin: 0 auto;
            display: flex;
            span {
                line-height: 45px;
                padding-right: 20px;
                i {
                    padding: 3px 5px;
                    border-radius: 50%;
                    background-color: #f4f4f4;
                    color: #d61c1f;
                    margin-right: 5px;
                }
                a {
                    display: inline-block;
                    color: #666666;
                }
                a:hover {
                    color: #d61c1f;
                }
            }
        }
    }
    .nav_bar {
        height: 90px;
        .nav_bar_container {
            width: 85%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
                list-style: none;
                li {
                    position: relative;
                    padding: 0px 17px;
                    display: inline-block;
                    a {
                        font-size: 17px;
                        font-family: 'Roboto', sans-serif;
                        color: #0e0505;
                        .fa-caret-down {
                            margin-left: 3px;
                        }
                    }
                    a:hover {
                        transition: all 0.5s ease;
                        color: #d61c1f;
                    }
                    .children_nav {
                        display: none;
                        position: absolute;
                        left: 10px;
                        bottom: -140px;
                        z-index: 999;
                        background-color: #fff;
                        box-shadow: 0px 1px 24px 0px #e4e0e0;
                        li {
                            padding: 8px 30px;
                            line-height: 20px;
                            a {
                                display: block;
                                width: 150px;
                                font-size: 14px;
                            }
                        }
                    }

                }
                .parent_class:hover .children_nav {
                    display: inherit;
                }
            }
            .toolsbar {
                line-height: 90px;
                    i {
                        font-size: 23px;
                        color: #535050;
                        padding-left: 27px;
                    }
                    .fa-cart-plus {
                        position: relative;
                        .number_product {
                            position: absolute;
                            padding: 4px 6px;
                            background-color: #d61c1f;
                            color: #fff;
                            border-radius: 50%;
                            font-size: 13px;
                            top: -13px;
                            right: -10px;
                        }
                    }

                    .fa-user {
                        position: relative;
                        ul {
                            position: absolute;
                            z-index: 999;
                            background-color: #fff;
                            box-shadow: 0px 1px 24px 0px #e4e0e0;
                            bottom: -110px;
                            li {
                                display: inline-block;
                                padding: 10px 20px;
                                color: #666666;
                                font-family: 'Roboto', sans-serif;
                                font-size: 15px;
                                a {
                                    color: #666666;
                                    display: block;
                                    font-size: 15px;
                                    width: 80px;
                                }
                                a:hover {
                                    color: #d61c1f;
                                }
                            }
                        }
                    }

                i:hover {
                    cursor: pointer;
                    transition: all 0.5s ease;
                    color: #d61c1f;
                }
            }
        }
    }
}