.sign_in {
    margin-top: 5px;
    .sign_in_container {
        width: 85%;
        margin: 0 auto;
        .come_back {
            display: flex;
            align-items: center;
            a {
                color: #d61c1f;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
            }
            t {
                margin-left: 5px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;

                i {
                    margin-right: 5px;
                }
            }
        }
        .form_submit {
            display: flex;
            justify-content: center;
            .form_submit_container {
                text-align: center;
                margin-top: 30px;
                h1 {
                    font-family: 'Roboto', sans-serif;
                    color: #000;
                    font-size: 25px;
                }
                .password,
                .username {
                    margin-top: 10px;
                    input {
                        color: #666666;
                        border: 1px solid #e9e8e8;
                        width: 30vw;
                        height: 43px;
                        padding-left: 10px;
                        font-size: 15px;
                        outline: none;
                    }
                }
                .summit {
                    margin-top: 10px;
            
                    .login_submit {
                        width: 30vw;
                        height: 43px;
                        background-color: #d0021b;
                        border: none;
                        font-weight: 900;
                        font-size: 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                    .btn_loading {
                        width: 30vw;
                        height: 43px;
                        background-color: #d44179;
                        border: none;
                        font-weight: 900;
                        font-size: 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                    .login_submit:hover {
                        cursor: pointer;
                        background-color: #d44179;
                    }
            
                }
            
                // .summit:hover button {
                //     background-color: #d44179;
                // }
                a {
                    color: #d0021b;
                    padding: 0px 10px;
                }
                a:hover {
                    opacity: 0.6;
                }
                .missing,
                .Incorrect {
                    color: #d0021b;
                    font-size: 15px;
                    margin-top: 5px;
                    display: block;
                    float: left;
                }
                .hiden_intro {
                    display: none;
                }
            }
        }
    }
}